@model SchedulerApp.Models.ViewModels.LoginViewModel

<h2>Sign In</h2>

<div class="row">
	<div class="col-md-8">
		<section id="loginForm">
			<form id="account" method="post" asp-action="Login" asp-controller="Account">
				<h4>Use yoour registered email id and password to login</h4>
				<br />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group row">
					<label class="col-md-2" asp-for="@Model.Email"></label>
					<div class="col-md-10">
						<input asp-for="@Model.Email" class="form-control"/>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2" asp-for="@Model.Password"></label>
					<div class="col-md-10">
						<input asp-for="@Model.Password" class="form-control"/>
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 offset-md-2 checkbox">
						<label class="pr-4 pl-0" asp-for="@Model.RememberMe">
							<input asp-for="@Model.RememberMe" />
						</label>
						Remember me?
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 offset-md-2 row">
						<input type="submit" value="Log In" class="btn btn-success" />
						<p>	
							<a asp-action="Register">Sign Up</a>
						</p>
					</div>
				</div>
			</form>
		</section>
	</div>
</div>


@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}